*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navpagebox{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   justify-items: center;
   align-content: center;
    gap:2rem;
}