*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.righttop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 0.5rem;
}
.LiGrbtn{
    padding: 0.5rem;
}
.active{
    background-color: #000000;
    color: #ffffff;
}